<DOCTYPE html>
  <html>
    <body>
      <link rel='stylesheet' href='style.css'> 
      <div class='main'></div>
       <h2 class='text'>
       <%= @current_attacker%> attacked <%= @current_victim%>
      <br>
       <%= @current_victim%>'s hp reduced by 10
      <br>
      <a href="/play">OK</a>
      </h2>
    </div>
    </body>
  </html>



