<!DOCTYPE html>
<html>
<body>
<link rel='stylesheet' href='style.css' href="/attack" > 
<div class='main'>
<h1> <%= @player_1_name %> vs. <%= @player_2_name %> </h1>
<h2> <%= @player_1_name %> 100hp</h2>
<h2> <%= @player_2_name %> 100hp</h2>
<a href="/attack">
  <img class='attack' src='Png.png'>
</a>

</div>
</body>
</html>